* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

body {
    font-family: 'Poppins', sans-serif;  
}

.containerNavbar {
    background-color: rgba(104, 103, 103, 0.219);
    width: 100%;
    height: 55px;
}

.imgLogo {
    width: 55px;
    height: 55px;
}

.btnHome {
    font-size: 20px;
    float: right;
    font-weight: bold;
    line-height: 55px;
	margin: 0 40px;
}

.txtTittle {
    padding-top: 20px;
    padding-bottom: 20px;
}

.txtContainer {
    font-size: 25px;
    padding-bottom: 30px;
}

.containerSeach, .txtTittle, .containerBtn {
    text-align: center;
}

#txtSeach, .btnPadrao, .btnDelete {
    font-size: 20px;  
}

.btnSeach {
    margin-left: 10px;
    background-color: white;
    border: none;
    font-size: 20px;
}

.btnSeach:hover {
    cursor: pointer;
    font-size: 25px;
}

.containerBtn {
    padding-top: 40px;
    padding-bottom: 40px;
}

.btnPadrao, .btnDelete, .btnEditar {
    margin-left: 50px;
    height: 35px;
    width: 150px;
    border: none; 
    color: white;
    border-radius: 3px;
}

.btnDelete:hover, .btnPadrao:hover, .btnEditar:hover {
    cursor: pointer;
    box-shadow: 0 0 11px #c9c9c9; 
}

.btnPadrao, .btnEditar {
    background-color: rgb(143, 147, 153);
}

.btnPadrao:hover, .btnEditar:hover {
    background-color: rgb(92, 120, 161);
}

.btnDelete {
    background-color: red;
}

.btnDelete:hover {
    background-color: rgb(194, 89, 89);
}