* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;  
}

body {
    font-family: 'Poppins', sans-serif;  
}

.selected {
    color:red
}

.containerNavbar {
    background-color: rgb(32, 19, 105);
    width: 100%;
    height: 55px;
}

.boxForm {
   margin-left: 350px;
   margin-right: 350px;
 
}
.imgLogo {
    width: 55px;
    height: 55px;
}

.btnHome {
    background-color: rgb(32, 19, 105);
    border: none;
    font-size: 20px;
    float: right;
    font-weight: bold;
    line-height: 55px;
	margin: 0 20px;
    color: white;
    width: 80px;
}

.btnHome:hover {
    cursor: pointer;
    box-shadow: 0 0 11px #c9c9c9; 
 
    line-height: 55px;

}

.txtTittle {
    padding-top: 20px;
    padding-bottom: 20px;
}

.txtContainer {
    font-size: 25px;
    padding-top: 15px;
    padding-bottom: 30px;
}

.containerSeach, .txtTittle, .containerBtn {
    text-align: center;
}

#txtSeach, .btnPadrao, .btnDelete, .btnEditar {
    font-size: 20px;  
}

.btnSeach {
    margin-left: 10px;
    background-color: white;
    border: none;
    font-size: 20px;
}

.btnSeach:hover {
    cursor: pointer;
    font-size: 25px;
}

.containerBtn {
    padding-top: 40px;
    padding-bottom: 20px;
}

.btnPadrao, .btnDelete, .btnEditar {
    margin-left: 50px;
    height: 35px;
    width: 150px;
    border: none; 
    color: white;
    border-radius: 3px;
}

.ancora {
    text-decoration: none;
    color: white;
}

.btnDelete:hover, .btnPadrao:hover, .btnEditar:hover {
    cursor: pointer;
    box-shadow: 0 0 11px #c9c9c9; 
}

.btnPadrao, .btnEditar {
    background-color: rgb(143, 147, 153);
}

.btnPadrao:hover, .btnEditar:hover {
    background-color: rgb(92, 120, 161);
}

.btnDelete {
    background-color: red;
}

.btnDelete:hover {
    background-color: rgb(194, 89, 89);
}

.boxContainer {
    background-color: #f1f1f1;
    border: 1px, solid, black;
}


.containerLista {
    display: flex;
    align-items: center;
    border-collapse: collapse;
    justify-content: center;
    font-size: 20px;
}

.containerTittle, .containerBody {
  
    border: 2px solid #c9c9c9;
   
}



.tableTittle, .tableBody {
margin: 40px;
width: 250px;
text-align: center;
}

